.breadcrumb li{
    font-size: 18px;
    font-weight: bold;
}
.breadcrumb span{
    font-size: 14px;
    margin-right: 10px;
}
.breadcrumb{
    border: 1px solid #ddd;
    margin: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: none;
}
.thumbnail{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.page-header{
    margin: 30px 15px 20px 15px;
}
.thumbnail.portfolio img{
    width: 700px;
    height: 250px;
}
.thumbnail.cat img{
    height: 350px;
    width: 100%;
}
.text ul li:hover{
    font-weight: bold;
}
h1,h2{
    font-weight: bold;
}
.container .jumbotron, .container-fluid .jumbotron {
    border: 2px solid #ddd;
    padding: 0px 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.jumbotron p{
    font-size: 14px;
    padding-top: 10px;
}
.call-action{
    margin-top: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.footer{
    transform: translateY(-50px);
}
.footer p{
    margin-left: 15px;
    margin-top: 50px;
}