.navbar {
    border-radius: 0;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    width: 100%;
    height: 480px;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
.navbar-inverse {
    margin: 0;
}
.carousel-caption h3{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}